[Desktop Entry]
Encoding=UTF-8
Name=AXE Core
Comment=AXE P2P Cryptocurrency
Comment[de]=Verbinde mit dem AXE peer-to-peer Netzwerk
Comment[fr]=AXE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AXE, eşten eşe kriptografik sanal para birimi
Exec=axe-qt %u
Terminal=false
Type=Application
Icon=axe128
MimeType=x-scheme-handler/axe;
Categories=Office;Finance;
