### os  ###############

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


### ###############

*.tar.gz

*.exe
src/*.exe
src/*/*.exe
src/axe
src/axe
src/axed
src/axed
src/test_axe
src/test_axe
src/test/test_axe
src/qt/test/test_axe-qt

### c++ ###############

*.slo
*.lo
*.o
*.a


### qt  ###############

/.qmake.cache
/.qmake.stash
target_wrapper.*
*.qmlc
*.jsc
Makefile*
*build-*


### pj  ###############

Axe-qt.pro.user

*.tar.gz

*.exe
src/*.exe
src/*/*.exe
src/axe
src/axe
src/axed
src/axed
src/test_axe
src/test_axe
src/test/test_axe
src/qt/test/test_axe-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/bitcoin-config.h
src/bitcoin-config.h.in
src/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/leveldb/.deps/

src/test/.deps
src/test/.dirstamp

src/qt/.deps/
src/qt/.dirstamp
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/.deps/
src/qt/test/.dirstamp
src/qt/test/moc*.cpp
src/qt/res/.deps/
src/qt/res/.dirstamp

.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg


### cmp ###############
*.qm
Makefile
axe-qt
axe-qt
axe-Qt.app
axe-Qt.app
.qmake.stash
axe-qt_plugin_import.cpp


### tst ###############
Makefile.test
axe-qt_test

linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb-*/Makefile
axe-qt


### mngw ###############
release/
*.Debug
*.Release
#lcov
*.gcno
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

### tr  ###############

src/qt/locale/bitcoin_af_ZA.qm
src/qt/locale/bitcoin_ar.qm
src/qt/locale/bitcoin_be_BY.qm
src/qt/locale/bitcoin_bg.qm
src/qt/locale/bitcoin_bs.qm
src/qt/locale/bitcoin_ca.qm
src/qt/locale/bitcoin_ca@valencia.qm
src/qt/locale/bitcoin_ca_ES.qm
src/qt/locale/bitcoin_cs.qm
src/qt/locale/bitcoin_cy.qm
src/qt/locale/bitcoin_da.qm
src/qt/locale/bitcoin_de.qm
src/qt/locale/bitcoin_el_GR.qm
src/qt/locale/bitcoin_en.qm
src/qt/locale/bitcoin_eo.qm
src/qt/locale/bitcoin_es.qm
src/qt/locale/bitcoin_es_CL.qm
src/qt/locale/bitcoin_es_DO.qm
src/qt/locale/bitcoin_es_MX.qm
src/qt/locale/bitcoin_es_UY.qm
src/qt/locale/bitcoin_et.qm
src/qt/locale/bitcoin_eu_ES.qm
src/qt/locale/bitcoin_fa.qm
src/qt/locale/bitcoin_fa_IR.qm
src/qt/locale/bitcoin_fi.qm
src/qt/locale/bitcoin_fr.qm
src/qt/locale/bitcoin_fr_CA.qm
src/qt/locale/bitcoin_gl.qm
src/qt/locale/bitcoin_he.qm
src/qt/locale/bitcoin_hi_IN.qm
src/qt/locale/bitcoin_hr.qm
src/qt/locale/bitcoin_hu.qm
src/qt/locale/bitcoin_id_ID.qm
src/qt/locale/bitcoin_it.qm
src/qt/locale/bitcoin_ja.qm
src/qt/locale/bitcoin_ka.qm
src/qt/locale/bitcoin_kk_KZ.qm
src/qt/locale/bitcoin_ko_KR.qm
src/qt/locale/bitcoin_ky.qm
src/qt/locale/bitcoin_la.qm
src/qt/locale/bitcoin_lt.qm
src/qt/locale/bitcoin_lv_LV.qm
src/qt/locale/bitcoin_ms_MY.qm
src/qt/locale/bitcoin_nb.qm
src/qt/locale/bitcoin_nl.qm
src/qt/locale/bitcoin_pam.qm
src/qt/locale/bitcoin_pl.qm
src/qt/locale/bitcoin_pt_BR.qm
src/qt/locale/bitcoin_pt_PT.qm
src/qt/locale/bitcoin_ro_RO.qm
src/qt/locale/bitcoin_ru.qm
src/qt/locale/bitcoin_sah.qm
src/qt/locale/bitcoin_sk.qm
src/qt/locale/bitcoin_sl_SI.qm
src/qt/locale/bitcoin_sq.qm
src/qt/locale/bitcoin_sr.qm
src/qt/locale/bitcoin_sv.qm
src/qt/locale/bitcoin_th_TH.qm
src/qt/locale/bitcoin_tr.qm
src/qt/locale/bitcoin_uk.qm
src/qt/locale/bitcoin_ur_PK.qm
src/qt/locale/bitcoin_vi.qm
src/qt/locale/bitcoin_vi_VN.qm
src/qt/locale/bitcoin_zh_CN.qm
src/qt/locale/bitcoin_zh_TW.qm
