
# axed RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=19337

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=3130000

# bootstrap.dat input/output settings (linearize-data)
netmagic=cee2caf1
input=/home/example/.axecore/testnet3/blocks
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1
genesis=000005b709662e7bc5e89c71d3aba6c9d4623b4bbf44ac205caec55f4cefb483

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 10000000
