# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit axed.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/axe/axe.conf

[Unit]
Description=Axe daemon
After=network.target

[Service]
ExecStart=/usr/bin/axed -daemon -conf=/etc/axe/axe.conf -pid=/run/axed/axed.pid
# Creates /run/axe owned by axecore
RuntimeDirectory=axed
User=axecore
Type=forking
PIDFile=/run/axed/axed.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
